
#footer {
    background: #f9f9f9;
    padding: 35px 0;
}

#footer h4, #footer p {
    font-size: 11px;
    color: #8f8f8f;
    margin-bottom: 10px;
    line-height: 1.25;
}

#footer h4 strong, #footer p strong {
    color: #666;
}

#footer .footer-menu {
    margin-top: 20px;
    font-size: 11px;
    font-weight: 500;
    color: #666;
    display: flex;
    align-items: center;
}

#footer .footer-menu a {
    color: #666;
}
#footer .footer-menu .split {
    margin: 0 4px;
    color: #aaa;
    display: block;
}